    /* ----------------------------------------------------------
    :: Template Name: Karl - Fashion Ecommerce Template
    :: Author: Colorlib
    :: Author URL: https://colorlib.com
    :: Description: Karl is smart & elegant fashion e-commerce Template. It's suitable for all e-commerce business platform. It's super responsive for all      Desktop/Mobile layout.
    :: Version: 1.0
    :: Created: 09 January 2018
    :: Last Updated: 09 January 2018
    ---------------------------------------------------------- */

    /* -------------------------------------------------
    ============ PLACE YOUR CUSTOM CSS HERE ============
    ------------------------------------------------- */

.shop{
  padding-top: 0px;
}

.btn-primary{
  background-color: #ff084e;
    border-color: #ff084e;

}

.add-to-cart-btn{
  color: #fff !important
}
